<main class="mypage">
	<h1 class="text-center">
		My page
	</h1>
	<section class="profile">
		<span>
			<%= @user.name %>
			<br>
			<%= @user.introduction %>
			<br>
			<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.png", size:'300x300' %>
		</span>
	</section>
	<h1>出品商品一覧</h1>
	<% @user.items.each do |item| %>
		<%= render 'items/index', item: item %>
	<% end %>
</main>