/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix::after {
   content: "";
   clear: both;
   display: block;
}

body{
	font-family: Impact;
	color: #090909;
	a{
		color: #090909;
		&:hover{
			text-decoration: none;
		}
	}
}

.header{
	background-color: #F9F9F9;
	border-bottom: 5px solid black;
	width: 100%;
	.header-title{
		font-size: 30px;
		line-height: 60px;
		padding-left: 10px;
	}
	a{
		color: #090909;
		&:hover{
			opacity: 0.9;
			text-decoration: none;
		}
	}
	div{
		float: right;
		height: 60px;
		line-height: 60px;
		a{
			font-size: 20px;
			padding: 0 10px;
		}
	}
}

.footer{
	background-color: #F9F9F9;
	border-top: 5px solid black;
	color: #090909;
	font-size: 20px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 100%;
}

.text-center{
	display: block;
	text-align: center;
}

.mypage{
	margin: 0 auto;
	width: 95%;
	.user_profile{
		float: left;
		width: 40%;
		.user_image{
			border: 5px solid black;
			border-radius: 50%;
		}
		.user_name{
			font-size: 30px;
		}
		.user_introduction{
			font-size: 18px;
		}
	}
	.user_items{
		float: left;
		width: 60%;
		.item_box{
			float: left;
			margin-right: 10px;
			position: relative;
			.item_image{
				border: 5px solid black;
				height: 250px;
			}
			.item_title{
				font-size: 20px;
			}
			.item_fav{
				bottom: 10px;
				right: 10px;
				position: absolute;
			}
		}
	}
}

.item_delete{
	color: red;
}

.item_page{
	margin: 10px auto;
	width: 70%;
	.item_image{
		float: left;
		height: 500px;
		width: 40%;
		.item_image_inner{
			border: 5px solid black;
			height: 400px;
			width: auto;
		}
	}
	.item_info{
		float: left;
		height: 500px;
		margin-left: 7%;
		width: 53%;
		strong{
			font-size: 20px;
		}
	}
}
.item_body{
	margin: 0px auto 50px auto;
	width: 70%;
	div{
		height: 500px;
	}
	.item_user_info{
		float: left;
		font-size: 20px;
		text-align: center;
		width: 30%;
		.user_image{
			border: 5px solid black;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		}
	}
	.item_body_inner{
		border: 5px solid black;
		float: left;
		font-size: 20px;
		padding: 10px;
		width: 70%;
	}
}

.user_edit{
	margin: 0 auto;
	width: 50%;
	div{
		float: left;
	}
	.user_edit_info{
		margin-left: 10px;
		width: 300px;
	}
}